{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>The Desire || Change Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ECART.css' %}">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'><link rel="stylesheet" href="{% static 'css/footer.css' %}">
<style type="text/css">
  .btn.btn-primary.login{
    background-color: #fe4a55;
    color: white;
    width: 80%;
  }

  html, body{
    overflow-x: hidden;
  }

  .btn.btn-primary.login:hover{
    background-color: #100f15;
    color: white;
  }
  .a{
    color: #fe4a55;
  }
  .a:hover{
    color: #100f15;
  }

  svg{
        background-color: white;
    border: 1px solid;
    border-radius: 50%;
    color: white;
  }
  .close.is-hidden{
    display: block;
  }
  .close{
    display: none;
  }
 

</style>

</head>
<body>

<header>
        <!-- navigation starts -->
        <nav class="navigation">
            <div class="nav-container inner flex">
                <div class="logo-box">
                    <img src="https://raw.githubusercontent.com/Bikassharma2404/vendor/master/logo.png" alt="logo" class="logo">
                </div>
                <div class="menu-box">
                    <ul class="menu flex">
                        <li><a href="index.html">Home</a></li>
                        <li class="category-dropdown"><a href="#">Categories</a>
                            <ul class="sub-category">
                                <li><a href="product.html">Style Yourself</a></li>
                                <li><a href="product.html">Interior Designers.</a></li>
                                <li><a href="product.html">Hotel & Restaurents</a></li>
                                <li><a href="product.html">Online Coaching</a></li>
                                <li><a href="product.html">Event Management Company</a></li>
                            </ul>
                        </li>
                        <li class="register-dropdown"><a href="#">Register</a>
                            <ul class="sub-register">
                                <li><a href="cregister.html">Customer</a></li>
                                <li><a href="register.html">Service Provider</a></li>
                            </ul>
                        </li>
                        <li class="login-dropdown"><a href="#">Login</a>
                            <ul class="sub-login">
                                <li><a href="login.html">Customer</a></li>
                                <li><a href="login.html">Service Provider</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="cart.html">Cart<i class="fal fa-cart-plus cart"></i></a></li>
                    </ul>
                </div>

                <div class="mobile-nav">
                    <div class="toggle-box">
                        <button class="fa fa-bars toggle icon"></button>
                    </div>
                    <div class="brand-box">
                        <a href="index.html" class="brand"><img src="https://raw.githubusercontent.com/Bikassharma2404/vendor/master/logo.png" alt="logo" class="brand"></a>
                    </div>
                    <div class="cart-box">
                        <a href="cart.html" class="cart-icon"><i class="fal fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <!-- /// header ends //// -->

    <div class="new-menu-box" style="width: 100%;">
        <ul class="new-menu" style="margin-left: -20px;">
            <li><a href="index.html">Home</a></li>
            <li class="new-category-dropdown"><a href="#">Categories<span class="fa fa-angle-down c-u-aero"></span>
                    <span class="fa fa-angle-up c-d-aero"></span></a></a></li>
            <ul class="new-sub-category">
               <li><a href="product.html">Style Yourself</a></li>
                <li><a href="product.html">Interior Designers.</a></li>
                <li><a href="product.html">Hotel & Restaurents</a></li>
                <li><a href="product.html">Online Coaching</a></li>
                <li><a href="product.html">Event Management Company</a></li>
            </ul>

            <li class="new-register-dropdown"><a href="#">Register<span class="fa fa-angle-down r-u-aero"></span>
                    <span class="fa fa-angle-up r-d-aero"></span></a></li>
            <ul class="new-sub-register">
                <li><a href="cregister.html">Customer</a></li>
                                <li><a href="register.html">Service Provider</a></li>
            </ul>

            <li class="new-login-dropdown"><a href="#">Login<span class="fa fa-angle-down l-u-aero"></span>
                    <span class="fa fa-angle-up l-d-aero"></span></a></a></li>
            <ul class="new-sub-login">
                <li><a href="login.html">Customer</a></li>
                <li><a href="login.html">Service Provider</a></li>
            </ul>
            <li class="last-child"><a href="#contact">Contact</a></li>
        </ul>
        <span class="fa fa-times close" style="color: white;opacity: 1;font-size: 1.7rem;"></span>
    </div>

<section style="height: 80px;width: 100%;background-color: #100f15;display: flex;justify-content: center;text-align: center;text-align: center;">
  <h4 style="text-align: center;color: white;margin-top: 20px;">Change Password</h4>
</section>
<center>
<section style="background-color: white;padding-top: 60px;padding-bottom: 60px;margin-bottom: 110px;">

    <div class="container">
  <form action="cf1.html" class="col-lg-6 col-sm-12" style="box-shadow: 0px 0px 10px 6px #cecbd2;padding: 60px 0px;">
    <div class="form-group col-lg-10 col-sm-12">
      <label for="occ" style="font-size: 20px;font-weight: bold;float: left;">Password:</label>
      <input type="password" style="font-size: 20px;" class="form-control" id="occ" placeholder="Enter Password" name="occ">
      
    </div>
    <div class="form-group col-lg-10 col-sm-12">
      <label for="name" style="font-size: 20px;font-weight: bold;float: left;">Conform Passowrd:</label>
      <input type="password" style="font-size: 20px;" class="form-control" id="name" placeholder="Conform your passowrd" name="name">
    </div>

    <button type="submit" class="btn btn-primary login col-lg-8 col-sm-10" style="font-size: 20px;">Change Passowrd</button><br><br>
   
    <!-- <a href="#" style="" class="a col-lg-10 col-sm-12">Lost your password?</a>
    <a href="#" style="" class="a col-lg-10 col-sm-12">New user? Register here...</a> -->
  </form>
</div>
</section></center>

{% include 'footer.html' %}
</body>
</html>
