img{
  max-width:180px;
}
input[type=file]{
padding: 10px; */
    /* background: #2d2d2d; */
    /* padding: 10px 10px 10px 10px; */
    height: 50px;
    border: 1px solid #cfc1c1;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 15px;
}